body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
  margin: 0;
}

main {
  overflow-x: clip;

  width: 100vw;
}
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.visually-hidden {
  display: none;
}
ul {
  list-style: none;
  padding: 0;
}
* .empty-item {
  margin-bottom: 0px;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
*.empty-125,
*.empty {
  height: 0 !important;
  margin-bottom: 0px !important;
}

.all-services-empty {
  margin-bottom: 0 !important;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
