@import "reset";

$primery: #4985ff;
$white: #fff;
$dark: #323232;
$grey: #999999;
$fs: 16px;
$baseAlign: center;

@mixin flex($justify: flex-start, $fd: row) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $fd;
}
@mixin mainCol {
  width: 1110px;
  margin: 0 auto;
}
@mixin slogan {
  font-size: $fs * 2.1875;
  font-weight: bold;
  line-height: $fs * 3.3125;
  color: $dark;
}
@mixin text {
  font-size: $fs;
  line-height: $fs + 9;
  color: $grey;
}
// header
header {
  height: 100px;
  border-bottom: 1px solid #a1a1a150;
  position: relative;
  z-index: 2;
  @include flex(center);
  nav.navigation {
    @include flex(flex-end);
    @include mainCol();
    .nav-link {
      color: $white;
      font-weight: 500;
      font-size: $fs;
      line-height: $fs * 1.25;
      margin-right: 40px;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          width: calc(100% + 40px);
          left: -20px;
          bottom: -39px;
          background: $white;
        }
      }
    }
  }
}

//first section
.intro {
  height: 900px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/Rectangle.png);
  background-repeat: no-repeat;
  position: relative;
  margin-top: -100px;
  color: $white;
  font-size: $fs;
  @include flex(center, column);
  .intro__title {
    font-weight: 500;
    line-height: $fs * 1.25;
    margin-bottom: 20px;
  }
  .intro__slogan {
    font-size: $fs * 3;
    width: 829px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    line-height: $fs * 4;
  }
  .intro__button {
    background-color: $primery;
    border: none;
    border-radius: 30px;
    color: $white;
    font-size: $fs;
    padding: 13px 36px 15px;
    font-weight: 500;
    line-height: $fs * 1.25;
  }
}
// second section
.services {
  height: 703px;
  background: #fff;
  position: relative;
  @include flex(center, column);
  h2 {
    @include slogan;
    width: 739px;
    text-align: center;
    margin-bottom: 50px;
  }
  .slogan--description {
    width: 730px;
    @include text;
    text-align: center;
    margin-bottom: 70px;
  }
  .services__list {
    @include flex(center);
    .services__item {
      width: 353px;
      height: 139px;
      position: relative;
      margin-bottom: 55px;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      .services__subtitle {
        width: 223px;
        font-size: $fs + 2;
        line-height: $fs + 6;
        font-weight: 600;
        margin-left: 130px;
        margin-top: 46px;
        margin-bottom: 12px;
        &::before {
          content: "";
          position: absolute;
          background-image: url(./images/project.png);
          background-repeat: no-repeat;
          background-position: center;
          width: 90px;
          height: 90px;
          border: 1px solid #4985ff;
          border-radius: 50%;
          left: 10px;
          top: 10px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 110px;
          height: 110px;
          border: 1px solid #e0e0e0;
          border-radius: 50%;
          left: 0;
          top: 0;
        }
      }
      .services__description {
        width: 223px;
        font-size: $fs - 2;
        font-weight: 400;
        line-height: $fs + 6;
        margin-left: 130px;
      }
    }
  }
  .services__button {
    background-color: $primery;
    border: none;
    border-radius: 30px;
    color: $white;
    font-size: $fs;
    padding: 13px 36px 15px;
    font-weight: 500;
    line-height: $fs * 1.25;
  }
}
// third section
.about-us {
  height: 797px;
  background: #f6f6f8;
  position: relative;
  @include flex(center, column);
  .about-us__wrapper {
    @include flex(space-between);
    width: 1110px;
    height: 490px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 70px;
    .about-us__info {
      width: 489px;
      max-height: 400px;
      .about-us__slogan {
        @include slogan();
        // height: 88px;
        margin-bottom: 40px;
      }
      .about-us__text {
        @include text();
        // height: 117px;
        margin-bottom: 30px;
      }
      .about-us__more {
        font-size: $fs;
        line-height: $fs * 1.25;
        color: $primery;
        text-decoration: underline;
      }
    }
  }
  .about-us__projects-list {
    @include flex();
    .projects__item {
      position: relative;
      width: 104px;
      height: 67px;
      margin-right: 100px;
      &:last-child {
        margin-right: 0;
      }
      .item__info {
        font-size: $fs * 2.25;
        padding-left: 50px;
        &::before {
          content: "";
          position: absolute;
          background-image: url(./images/projects-item__image.png);
          width: 30px;
          height: 30px;
          left: 0;
          top: 8.8px;
          // display: flex;
        }
      }
      .item__slogan {
        font-size: $fs;
        line-height: $fs + 9;
        color: $grey;
      }
    }
  }
}
//section4
.specialisation {
  height: 500px;
  background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
}
