@import "reset";

$primery: #4985ff;
$white: #fff;
$dark: #323232;
$grey: #999999;
$fs: 16px;
$baseAlign: center;

@mixin flex($justify: flex-start, $fd: row) {
  display: flex;
  align-items: center;
  justify-content: $justify;
  flex-direction: $fd;
}
@mixin mainCol {
  width: 1110px;
  margin: 0 auto;
  @include _1280 {
    width: 750px;
  }
  @include _1024 {
    width: 600px;
  }
  @include _768 {
    width: 450px;
  }
  @include _640 {
    width: 380px;
  }
  @include _400 {
    width: 300px;
  }
}
@mixin slogan {
  font-size: $fs * 2.25;
  font-weight: 700;
  line-height: $fs + 37px;
  color: $dark;
  @include _1280 {
    font-size: $fs + 14px;
    line-height: $fs + 31px;
  }
  @include _1024 {
    font-size: $fs + 11px;
    line-height: $fs + 26px;
  }
  @include _768 {
    font-size: $fs + 3.5px;
    line-height: $fs + 19px;
  }
  @include _640 {
    font-size: $fs + 0.5px;
    line-height: $fs * 2;
  }
  @include _400 {
    font-size: $fs - 2.5px;
    line-height: $fs + 11px;
  }
}
@mixin smallSlogan {
  font-size: $fs + 2;
  font-weight: 600;
  line-height: $fs + 6;
  color: #000;
  @include _1280 {
    font-size: $fs - 1px;
    line-height: $fs + 2px;
  }
  @include _1024 {
    font-size: $fs - 3px;
    line-height: $fs;
  }
  @include _768 {
    font-size: $fs - 6px;
    line-height: $fs - 4px;
  }
  @include _640 {
    font-size: $fs / 2;
    line-height: $fs - 6px;
  }
  @include _400 {
    font-size: $fs - 9px;
    line-height: $fs - 7px;
  }
}
@mixin text {
  font-size: $fs;
  font-weight: 400;
  line-height: $fs + 9;
  color: $grey;
  @include _1280 {
    font-size: $fs - 1px;
    line-height: $fs + 7px;
  }
  @include _1024 {
    font-size: $fs - 4px;
    line-height: $fs + 2.75px;
  }
  @include _768 {
    font-size: $fs - 7px;
    line-height: $fs - 2px;
  }
  @include _640 {
    font-size: $fs - 9px;
    line-height: $fs - 5px;
  }
  @include _400 {
    font-size: $fs / 3;
    line-height: $fs - 8px;
  }
}
@mixin button {
  font-weight: 500;
  font-size: $fs;
  line-height: $fs * 1.25;
  color: $white;
  padding: 15px 36px 15px;
  text-align: center;
  max-width: 200px;
  background: $primery;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  @include _1280 {
    font-size: $fs - 1px;
    line-height: $fs + 1px;
    padding: 13px 25px 13px;
  }
  @include _1024 {
    font-size: $fs - 2px;
    line-height: $fs;
    padding: 11px 20px 11px;
  }
  @include _768 {
    font-size: $fs * 0.75;
    line-height: $fs - 2px;
    padding: 9px 20px 9px;
  }
  @include _640 {
    font-size: $fs - 6px;
    line-height: $fs - 4px;
    padding: 7px 15px 7px;
  }
  @include _400 {
    font-size: $fs / 2;
    line-height: $fs - 6px;
    padding: 5px 10px 5px;
  }
}

//media_mixin.scss
@mixin _1280 {
  @media screen and (max-width: 1280px) {
    @content;
  }
}
@mixin _1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin _768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin _640 {
  @media screen and (max-width: 640px) {
    @content;
  }
}
@mixin _400 {
  @media screen and (max-width: 400px) {
    @content;
  }
}

// header
header {
  height: 100px;
  border-bottom: 1px solid #a1a1a150;
  position: relative;
  z-index: 2;
  @include _1024 {
    height: 90px;
  }
  @include _768 {
    height: 80px;
  }
  @include _640 {
    height: 50px;
  }
  // @include _400 {
  //   height: 50px;
  // }
  @include flex(center);
  nav.navigation {
    @include flex(flex-end);
    @include mainCol();
    align-items: baseline;
    .nav-link {
      color: $white;
      font-weight: 500;
      font-size: $fs;
      line-height: $fs * 1.25;
      margin-right: 40px;
      @include _1280 {
        font-size: $fs - 1px;
        margin-right: 36px;
      }
      @include _1024 {
        font-size: $fs - 2px;
        margin-right: 30px;
      }
      @include _768 {
        font-size: $fs * 0.75;
        margin-right: 16px;
      }
      @include _640 {
        font-size: $fs - 6px;
        margin-right: 10px;
      }
      @include _400 {
        font-size: $fs / 2;
        margin-right: 10px;
      }
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          width: calc(100% + 40px);
          left: -20px;
          bottom: -39px;
          background: $white;
          @include _1280 {
            width: calc(100% + 36px);
            left: -18px;
          }
          @include _1024 {
            width: calc(100% + 30px);
            left: -15px;
            bottom: -34px;
          }
          @include _768 {
            width: calc(100% + 16px);
            left: -8px;
            bottom: -29px;
          }
          @include _640 {
            width: calc(100% + 10px);
            left: -5px;
            bottom: -14px;
          }
          @include _400 {
            width: calc(100% + 10px);
            left: -5px;
            bottom: -14px;
          }
        }
      }
    }
  }
}

//first section
.intro {
  max-height: 900px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/Rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: -100px;
  @include _1024 {
    margin-top: -90px;
  }
  @include _768 {
    margin-top: -80px;
  }
  @include _640 {
    margin-top: -50px;
  }
  @include _400 {
    margin-top: -50px;
  }
  .intro__wrapper {
    @include mainCol();
    @include flex(flex-start, column);
    .intro__title {
      max-width: 175px;
      font-size: $fs;
      font-weight: 500;
      line-height: $fs * 1.25;
      color: $white;
      text-align: center;
      margin-top: 318px;
      margin-bottom: 20px;
      @include _1280 {
        font-size: $fs - 1px;
        margin-top: 265px;
      }
      @include _1024 {
        font-size: $fs - 2px;
        margin-top: 212px;
        margin-bottom: 15px;
      }
      @include _768 {
        font-size: $fs * 0.75;
        margin-top: 159px;
        margin-bottom: 15px;
      }
      @include _640 {
        font-size: $fs - 6px;
        margin-top: 159px;
        margin-bottom: 10px;
      }
      @include _400 {
        font-size: $fs / 2;
        margin-top: 106px;
        margin-bottom: 10px;
      }
    }
    .intro__slogan {
      max-width: 829px;
      font-size: $fs * 3;
      font-weight: 800;
      text-align: center;
      margin-bottom: 50px;
      line-height: $fs * 4;
      color: $white;
      @include _1280 {
        font-size: $fs * 2.5;
        line-height: $fs * 3.5;
        margin-bottom: 45px;
      }
      @include _1024 {
        font-size: $fs * 2.25;
        line-height: $fs * 3.25;
        margin-bottom: 40px;
      }
      @include _768 {
        font-size: $fs + 10px;
        line-height: $fs + 26px;
        margin-bottom: 30px;
      }
      @include _640 {
        font-size: $fs + 6px;
        line-height: $fs + 22px;
        margin-bottom: 30px;
      }
      @include _400 {
        font-size: $fs + 2px;
        line-height: $fs * 2;
        margin-bottom: 25px;
      }
    }
    .intro__button {
      @include button();
      margin-bottom: 318px;
      @include _1280 {
        margin-bottom: 265px;
      }
      @include _1024 {
        margin-bottom: 212px;
      }
      @include _768 {
        margin-bottom: 159px;
      }
      @include _640 {
        margin-bottom: 159px;
      }
      @include _400 {
        margin-bottom: 106px;
      }
    }
  }
}

// second section
.services {
  background: #fff;
  position: relative;
  @include flex(flex-start, column);
  @include mainCol();
  h2 {
    @include slogan;
    max-width: 751px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 50px;
    @include _1280 {
      margin-top: 92px;
    }
    @include _1024 {
      margin-top: 73px;
      margin-bottom: 38px;
    }
    @include _768 {
      margin-top: 55px;
    }
    @include _640 {
      margin-top: 55px;
      margin-bottom: 25px;
    }
    @include _400 {
      margin-top: 37px;
    }
  }
  .slogan__description {
    @include text;
    text-align: center;
    margin-bottom: 70px;
    @include _1024 {
      margin-bottom: 53px;
    }
    @include _640 {
      margin-bottom: 35px;
    }
  }
  .services__list {
    @include flex(center);
    flex-wrap: wrap;
    .services__item {
      width: calc(100% / 3 - 18px);
      position: relative;
      margin-bottom: 55px;
      @include _1280 {
        width: calc(100% / 2 - 40px);
        margin-bottom: 46px;
      }
      @include _1024 {
        margin-bottom: 40px;
      }
      @include _768 {
        width: calc(100% / 2 - 20px);
        margin-bottom: 30px;
      }
      @include _640 {
        width: calc(100% / 2 - 40px);
        margin-bottom: 24px;
      }
      @include _400 {
        width: calc(80% - 80px);
        margin-bottom: 21px;
      }
      .services__subtitle {
        width: 223px;
        @include smallSlogan();
        margin-left: 130px;
        margin-top: 46px;
        margin-bottom: 12px;
        @include _1280 {
          margin-left: 112px;
          margin-top: 40px;
        }
        @include _1024 {
          margin-left: 100px;
          margin-top: 35px;
        }
        @include _768 {
          margin-left: 81px;
          margin-top: 29px;
        }
        @include _640 {
          margin-left: 69px;
          margin-top: 24px;
        }
        @include _400 {
          margin-left: 63px;
          margin-top: 22px;
        }
        &::before {
          content: "";
          position: absolute;
          background-image: url(./images/project.png);
          background-repeat: no-repeat;
          background-position: center;
          width: 90px;
          height: 90px;
          border: 1px solid #4985ff;
          border-radius: 50%;
          left: 10px;
          top: 10px;
          @include _1280 {
            width: 75px;
            height: 75px;
            left: 8px;
            top: 8px;
          }
          @include _1024 {
            width: 65px;
            height: 65px;
            left: 7px;
            top: 7px;
          }
          @include _768 {
            background-size: 30px;
            width: 50px;
            height: 50px;
            left: 6px;
            top: 6px;
          }
          @include _640 {
            background-size: 25px;
            width: 40px;
            height: 40px;
            left: 5px;
            top: 5px;
          }
          @include _400 {
            background-size: 20px;
            width: 35px;
            height: 35px;
            left: 4px;
            top: 4px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 110px;
          height: 110px;
          border: 1px solid #e0e0e0;
          border-radius: 50%;
          left: 0;
          top: 0;

          @include _1280 {
            width: 92px;
            height: 92px;
          }
          @include _1024 {
            width: 80px;
            height: 80px;
          }
          @include _768 {
            width: 61px;
            height: 61px;
          }
          @include _640 {
            width: 49px;
            height: 49px;
          }
          @include _400 {
            width: 43px;
            height: 43px;
          }
        }
      }
      .services__description {
        max-width: 223px;
        font-size: $fs - 2;
        font-weight: 400;
        line-height: $fs + 6;
        margin-left: 130px;
        @include _1280 {
          font-size: $fs * 0.75;
          margin-left: 112px;
          line-height: 18px;
        }
        @include _1024 {
          font-size: $fs - 6px;
          margin-left: 100px;
          line-height: 16px;
        }
        @include _768 {
          font-size: $fs / 2;
          margin-left: 81px;
          line-height: 12px;
        }
        @include _640 {
          font-size: $fs - 10px;
          margin-left: 69px;
          line-height: 10px;
        }
        @include _400 {
          font-size: $fs - 11px;
          margin-left: 63px;
          line-height: 9px;
        }
      }
    }
  }
  .services__button {
    @include button();
    margin-bottom: 105px;
    @include _1280 {
      margin-bottom: 42px;
    }
    @include _1024 {
      margin-bottom: 33px;
    }
    @include _768 {
      margin-bottom: 25px;
    }
    @include _400 {
      margin-bottom: 17px;
    }
  }
}
// third section
.about-us {
  position: relative;
  @include flex(flex-start, column);
  &::before {
    content: "";
    background: #f6f6f8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .about-us__wrapper {
    @include mainCol;
    @include flex(space-between);
    border-bottom: 1px solid #e0e0e0;
    margin-top: 100px;
    margin-bottom: 70px;
    @include _1280 {
      flex-direction: column;
      text-align: center;
      margin-top: 83px;
      margin-bottom: 58px;
    }
    @include _1024 {
      margin-top: 67px;
      margin-bottom: 47px;
    }
    @include _768 {
      margin-top: 50px;
      margin-bottom: 35px;
    }
    @include _400 {
      margin-top: 33px;
      margin-bottom: 23px;
    }
    .about-us__info {
      margin-right: 121px;
      @include _1280 {
        width: calc(100% - 40px);
        margin-right: 0;
      }
      .about-us__slogan {
        @include slogan;
        margin-bottom: 40px;
        @include _1280 {
          margin-bottom: 33px;
        }
        @include _1024 {
          margin-bottom: 27px;
        }
        @include _768 {
          margin-bottom: 20px;
        }
        @include _400 {
          margin-bottom: 13px;
        }
      }

      .about-us__text {
        @include text;
        margin-bottom: 30px;
        @include _1280 {
          margin-bottom: 25px;
        }
        @include _1024 {
          margin-bottom: 20px;
        }
        @include _768 {
          margin-bottom: 15px;
        }
        @include _400 {
          margin-bottom: 10px;
        }
      }
      .about-us__more {
        margin-bottom: 90px;
        @include _1280 {
          margin-bottom: 75px;
        }
        @include _1024 {
          margin-bottom: 60px;
        }
        @include _768 {
          margin-bottom: 45px;
        }
        @include _400 {
          margin-bottom: 30px;
        }
        .about-us__more-link {
          font-size: $fs;
          line-height: $fs * 1.25;
          font-weight: 500;
          color: $primery;
          text-decoration: underline;
          @include _1280 {
            font-size: $fs - 1px;
            line-height: $fs + 2px;
          }
          @include _1024 {
            font-size: $fs - 4px;
            line-height: $fs - 2px;
          }
          @include _768 {
            font-size: $fs - 7px;
            line-height: $fs - 5px;
          }
          @include _640 {
            font-size: $fs - 9px;
            line-height: $fs - 7px;
          }
          @include _400 {
            font-size: $fs / 3;
            line-height: $fs - 8px;
          }
        }
      }
    }
    .about-us__image {
      margin-bottom: 90px;
      @include _1280 {
        width: 400px;
        height: 320px;
        margin-bottom: 20px;
        order: -1;
      }
      @include _1024 {
        width: 300px;
        height: 240px;
        margin-bottom: 20px;
        order: -1;
      }
      @include _768 {
        width: 200px;
        height: 160px;
        margin-bottom: 20px;
        order: -1;
      }
      @include _640 {
        width: 100px;
        height: 80px;
        margin-bottom: 20px;
        order: -1;
      }
    }
  }
  .projects-wrapper {
    @include mainCol;
    @include flex(center);
    .about-us__projects-list {
      @include flex(space-between);
      flex-wrap: wrap;
      width: 920px;
      @include _1280 {
        width: 622px;
      }
      @include _1024 {
        width: 498px;
      }
      @include _768 {
        width: 374px;
      }
      @include _640 {
        width: 317px;
      }
      @include _400 {
        width: 250px;
      }
      .projects__item {
        position: relative;
        width: calc(100% / 5 + 20px);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
        @media screen and (min-width: 1281px) {
          &:nth-child(5n) {
            width: 104px;
          }
        }
        @include _1280 {
          width: calc(100% / 5);
          &:nth-child(5n) {
            width: 94px;
            // width: calc(100% / 4 + 20px);
            // &:nth-child(4n) {
            //   width: 94px;
          }
          margin-bottom: 58px;
        }
        @include _1024 {
          width: calc(100% / 3 + 20px);
          &:nth-child(3n) {
            width: 84px;
          }
          &:nth-child(5n) {
            width: calc(100% / 3 + 20px);
          }
          margin-bottom: 47px;
        }
        @include _768 {
          width: calc(100% / 3 + 20px);
          &:nth-child(3n) {
            width: 64px;
          }

          margin-bottom: 35px;
        }
        @include _400 {
          width: calc(100% / 3 + 15px);
          &:nth-child(3n) {
            width: 44px;
          }

          margin-bottom: 35px;
        }
        .item__info {
          font-size: $fs * 2.25;
          padding-left: 50px;
          &::before {
            content: "";
            position: absolute;
            background-image: url(./images/projects-item__image.png);
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            left: 0;
            top: 9px;
            @include _1280 {
              background-size: 28px;
              width: 28px;
              height: 28px;
              top: 8px;
            }
            @include _1024 {
              width: 22px;
              height: 22px;
              background-size: 22px;
              top: 6px;
            }
            @include _768 {
              width: 16px;
              height: 16px;
              background-size: 16px;
              top: 4px;
            }
            @include _640 {
              width: 13px;
              height: 13px;
              background-size: 13px;
              top: 3px;
            }
            @include _400 {
              width: 10px;
              height: 10px;
              background-size: 10px;
              top: 1;
            }
          }
          @include _1280 {
            font-size: 34px;
            padding-left: 45px;
          }
          @include _1024 {
            font-size: 27px;
            padding-left: 35px;
          }
          @include _768 {
            font-size: 20px;
            padding-left: 26px;
          }
          @include _640 {
            font-size: 16px;
            padding-left: 20px;
          }
          @include _400 {
            font-size: 12px;
            padding-left: 15px;
          }
        }
        .item__slogan {
          @include text();
        }
      }
    }
  }
}
//fourth section
.all-services {
  @include flex(center, column);
  // min-height: 972px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  &::before {
    content: "";
    height: 50%;
    width: 100%;
    background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .all-services__main {
    @include mainCol();
    @include flex(space-between);
    position: relative;
    margin-top: 84px;
    margin-bottom: 70px;
    .all-services__slogan {
      @include slogan();
      width: 540px;
      color: $white;
    }
    .all-services__more {
      @include button();
    }
  }
  .all-srvices__list {
    @include mainCol();
    @include flex(space-between);
    margin-bottom: 85px;
    flex-wrap: wrap;
    border-bottom: 1px solid #e0e0e0;
    .all-services__item {
      width: calc(100% / 3 - 20px);
      margin-bottom: 85px;
      .all-services__image {
        margin-bottom: 30px;
      }
      .all-services__subtitle {
        @include smallSlogan();
        margin-bottom: 30px;
        & span {
          color: $primery;
        }
      }
      .all-services__text {
        @include text();
        margin-bottom: 30px;
      }
      .item__more {
        font-size: $fs;
        line-height: $fs * 1.25;
        font-weight: 500;
        color: $primery;
        text-decoration-line: underline;
      }
    }
  }
}
// fifth section
.all-projects {
  min-height: 776px;
  position: relative;
  @include flex(flex-start, column);
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f6f6f8;
    top: 0;
    z-index: -1;
  }

  .all-projects__wrapper {
    @include mainCol();
    @include flex(center, column);
    top: 0px;
    margin-top: 100px;
    .all-projects__slogan {
      @include slogan();
      max-width: 350px;
      margin-bottom: 50px;
      color: #000000;
    }
    .all-projects__text {
      @include text();
      max-width: 730px;
      margin-bottom: 70px;
      text-align: center;
    }
    .all-projects__list {
      @include mainCol();
      @include flex(space-between);
      flex-wrap: wrap;
      .list__item {
        width: calc(100% / 4 - 22.5px);
        margin-bottom: 50px;
      }
    }
    .all-projects__more {
      @include button();
      margin-bottom: 130px;
    }
  }
}

// sixth section
.video {
  @include flex(flex-start, column);
  height: 1110px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 570px;
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      url(./images/video__background.png);
    background-repeat: round;
    top: 0;
    z-index: -1;
  }
  .video__wrapper {
    @include mainCol();
    @include flex(center, column);
    border-bottom: 1px solid #e0e0e0;
    margin-top: 70px;
    margin-bottom: 85px;
  }
  .video__slogan {
    @include slogan();
    color: $white;
    margin-bottom: 30px;
  }
  .video__text {
    @include text();
    color: $white;
    margin-bottom: 50px;
  }
  .video__content {
    position: relative;
    width: 970px;
    height: 430px;
    background: url(./images/video__image.png);
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 85px;
    .video__button {
      position: relative;
      @include text();
      color: $white;
      font-weight: 500;
      width: 300px;
      height: 100px;
      top: calc(50% - 40px);
      left: calc(50% - 150px);
      background: transparent;
      border: 1px solid #ffffff;
      border-radius: 200px;
      padding: 41px 29px 40px 121px;
      &::before {
        content: "";
        background-image: url(./images/video__play-button.png);
        width: 60px;
        height: 60px;
        position: absolute;
        top: 20px;
        left: 40px;
      }
    }
  }
  .subscribe {
    @include mainCol();
    @include flex(flex-start, column);
    height: 177px;
    .subscribe__slogan {
      @include smallSlogan();
      margin-bottom: 20px;
    }
    .subscribe__text {
      @include text();
      margin-bottom: 30px;
    }
    .subscribe__form {
      margin-bottom: 35px;
    }
    .subscribe__statement {
      font-size: $fs - 3px;
      font-weight: 400;
      line-height: $fs + 5px;
      color: $grey;
      margin-bottom: 85px;
    }
    .subscribe__form {
      @include flex();
      input[type="email"] {
        width: 299px;
        height: 45px;
        font-size: $fs - 3px;
        font-weight: 400;
        line-height: $fs + 5px;
        color: $grey;
        border: 1px solid #f2f2f2;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px 0px 0px 30px;
        padding: 15px 175px 13px 33px;
      }
      label {
        order: 1;

        button {
          @include button();
          width: 190px;
          padding-left: 26px;
          border-radius: 0px 30px 30px 0px;
        }
      }
    }
  }
}

// footer
footer {
  min-height: 413px;
  @include flex(flex-start, column);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f6f6f8;
    top: 0;
    z-index: -1;
  }
  .footer__wrapper {
    @include mainCol();
    @include flex();
    align-items: flex-start;
    min-height: 305px;
    margin-top: 70px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    > div {
      width: 242px;
      height: 235px;
      margin-right: 43px;
      &:last-of-type {
        margin-right: 0;
      }
      > h3 {
        @include smallSlogan();
        margin-bottom: 35px;
      }
      ul > li {
        position: relative;
        margin-bottom: 30px;
        padding-left: 17px;
        &:last-child {
          margin-bottom: 70px;
        }
        &::before {
          content: "";
          width: 5px;
          height: 9px;
          position: absolute;
          background-image: url(./images/arrow.svg);
          left: 0;
          top: calc(50% - 4.5px);
        }
      }
      .contacts__list > li {
        padding-left: 30px;
        position: relative;
        &:first-child::before {
          content: "";
          width: 15px;
          height: 11.42px;
          position: absolute;
          background-image: url(./images/mail.svg);
          background-position: center;
          top: calc(50% - 6px);
          left: 0;
        }
        &:nth-child(2)::before {
          content: "";
          width: 15px;
          height: 15px;
          position: absolute;
          background-image: url(./images/phone.svg);
          background-position: center;
          top: calc(50% - 8px);
          left: 0;
        }
        &:last-child::before {
          content: "";
          width: 11px;
          height: 15px;
          position: absolute;
          background-image: url(./images/placeholder.svg);
          background-position: center;
          top: calc(50% - 8px);
          left: 0;
        }
      }
      li > a {
        font-size: $fs - 2px;
        font-weight: 400;
        line-height: $fs + 6px;
        color: $grey;
      }
    }
  }

  .footer__copyright {
    font-size: $fs - 3px;
    line-height: $fs + 5px;
    font-weight: 400;
    color: $grey;
    margin-bottom: 30px;
  }
}
