body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  height: 100px;
  border-bottom: 1px solid #a1a1a150;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header nav.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: 1110px;
  margin: 0 auto;
}
header nav.navigation .nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 40px;
  position: relative;
}
header nav.navigation .nav-link:last-child {
  margin-right: 0;
}
header nav.navigation .nav-link:hover::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: calc(100% + 40px);
  left: -20px;
  bottom: -39px;
  background: #fff;
}

.intro {
  height: 900px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/Rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-top: -100px;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intro .intro__title {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px;
}
.intro .intro__slogan {
  font-size: 48px;
  width: 829px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
  line-height: 64px;
}
.intro .intro__button {
  background-color: #4985ff;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  padding: 13px 36px 15px;
  font-weight: 500;
  line-height: 20px;
}

.services {
  min-height: 703px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 53px;
  color: #323232;
  width: 739px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 50px;
}
.services .slogan--description {
  width: 730px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  text-align: center;
  margin-bottom: 70px;
}
.services .services__list {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.services .services__list .services__item {
  width: calc(100% / 3 - 18px);
  position: relative;
  margin-bottom: 55px;
}
.services .services__list .services__item .services__subtitle {
  width: 223px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-left: 130px;
  margin-top: 46px;
  margin-bottom: 12px;
}
.services .services__list .services__item .services__subtitle::before {
  content: "";
  position: absolute;
  background-image: url(./images/project.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 90px;
  border: 1px solid #4985ff;
  border-radius: 50%;
  left: 10px;
  top: 10px;
}
.services .services__list .services__item .services__subtitle::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  left: 0;
  top: 0;
}
.services .services__list .services__item .services__description {
  width: 223px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-left: 130px;
}
.services .services__button {
  background-color: #4985ff;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  padding: 13px 36px 15px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 105px;
}

.about-us {
  height: 797px;
  background: #f6f6f8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-us .about-us__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 1110px;
  height: 490px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 70px;
}
.about-us .about-us__wrapper .about-us__info {
  width: 489px;
  max-height: 400px;
}
.about-us .about-us__wrapper .about-us__info .about-us__slogan {
  font-size: 35px;
  font-weight: bold;
  line-height: 53px;
  color: #323232;
  margin-bottom: 40px;
}
.about-us .about-us__wrapper .about-us__info .about-us__text {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  overflow: hidden;
  max-height: 117px;
  margin-bottom: 30px;
}
.about-us .about-us__wrapper .about-us__info .about-us__more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #4985ff;
  text-decoration: underline;
}
.about-us .about-us__projects-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.about-us .about-us__projects-list .projects__item {
  position: relative;
  width: 104px;
  height: 67px;
  margin-right: 100px;
}
.about-us .about-us__projects-list .projects__item:last-child {
  margin-right: 0;
}
.about-us .about-us__projects-list .projects__item .item__info {
  font-size: 36px;
  padding-left: 50px;
}
.about-us .about-us__projects-list .projects__item .item__info::before {
  content: "";
  position: absolute;
  background-image: url(./images/projects-item__image.png);
  width: 30px;
  height: 30px;
  left: 0;
  top: 8.8px;
}
.about-us .about-us__projects-list .projects__item .item__slogan {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.all-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 972px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.all-services::before {
  content: "";
  height: 490px;
  width: 100%;
  background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
  position: absolute;
  top: 0;
  z-index: -1;
}
.all-services .all-services__main {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  margin-top: 84px;
  margin-bottom: 70px;
}
.all-services .all-services__main .all-services__slogan {
  font-size: 35px;
  font-weight: bold;
  line-height: 53px;
  color: #323232;
  width: 540px;
  color: #fff;
}
.all-services .all-services__main .all-services__more {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 13px 36px 15px;
  text-align: center;
  width: 200px;
  height: 45px;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}
.all-services .all-srvices__list {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 85px;
  flex-wrap: wrap;
  border-bottom: 1px solid #e0e0e0;
}
.all-services .all-srvices__list .all-services__item {
  width: calc(100% / 3 - 20px);
  margin-bottom: 85px;
}
.all-services .all-srvices__list .all-services__item .all-services__image {
  margin-bottom: 30px;
}
.all-services .all-srvices__list .all-services__item .all-services__slogan {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}
.all-services .all-srvices__list .all-services__item .all-services__slogan span {
  color: #4985ff;
}
.all-services .all-srvices__list .all-services__item .all-services__text {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}
.all-services .all-srvices__list .all-services__item .item__more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #4985ff;
  text-decoration-line: underline;
}

/*# sourceMappingURL=style.css.map */
