body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
  margin: 0;
}

main {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

* .empty-item {
  margin-bottom: 0px;
}
@media screen and (max-width: 1280px) {
  * .empty-item {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  *.empty-125 {
    margin-bottom: 0px !important;
  }
}

header {
  height: 100px;
  border-bottom: 1px solid #a1a1a150;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  header {
    height: 90px;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 80px;
  }
}
@media screen and (max-width: 640px) {
  header {
    height: 50px;
  }
}
header nav.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: 1110px;
  margin: 0 auto;
  align-items: baseline;
}
@media screen and (max-width: 1280px) {
  header nav.navigation {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  header nav.navigation {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  header nav.navigation {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  header nav.navigation {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  header nav.navigation {
    width: 300px;
  }
}
header nav.navigation .nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 40px;
  position: relative;
}
@media screen and (max-width: 1280px) {
  header nav.navigation .nav-link {
    font-size: 15px;
    margin-right: 36px;
  }
}
@media screen and (max-width: 1024px) {
  header nav.navigation .nav-link {
    font-size: 14px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  header nav.navigation .nav-link {
    font-size: 12px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 640px) {
  header nav.navigation .nav-link {
    font-size: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 400px) {
  header nav.navigation .nav-link {
    font-size: 8px;
    margin-right: 10px;
  }
}
header nav.navigation .nav-link:last-child {
  margin-right: 0;
}
header nav.navigation .nav-link:hover::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: calc(100% + 40px);
  left: -20px;
  bottom: -39px;
  background: #fff;
}
@media screen and (max-width: 1280px) {
  header nav.navigation .nav-link:hover::after {
    width: calc(100% + 36px);
    left: -18px;
  }
}
@media screen and (max-width: 1024px) {
  header nav.navigation .nav-link:hover::after {
    width: calc(100% + 30px);
    left: -15px;
    bottom: -34px;
  }
}
@media screen and (max-width: 768px) {
  header nav.navigation .nav-link:hover::after {
    width: calc(100% + 16px);
    left: -8px;
    bottom: -29px;
  }
}
@media screen and (max-width: 640px) {
  header nav.navigation .nav-link:hover::after {
    width: calc(100% + 10px);
    left: -5px;
    bottom: -14px;
  }
}
@media screen and (max-width: 400px) {
  header nav.navigation .nav-link:hover::after {
    width: calc(100% + 10px);
    left: -5px;
    bottom: -14px;
  }
}

.intro {
  max-height: 900px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./images/Rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: -100px;
}
@media screen and (max-width: 1024px) {
  .intro {
    margin-top: -90px;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    margin-top: -80px;
  }
}
@media screen and (max-width: 640px) {
  .intro {
    margin-top: -50px;
  }
}
@media screen and (max-width: 400px) {
  .intro {
    margin-top: -50px;
  }
}
.intro .intro__wrapper {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 1280px) {
  .intro .intro__wrapper {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .intro .intro__wrapper {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .intro .intro__wrapper {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  .intro .intro__wrapper {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  .intro .intro__wrapper {
    width: 300px;
  }
}
.intro .intro__wrapper .intro__title {
  max-width: 175px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  text-align: center;
  margin-top: 318px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1280px) {
  .intro .intro__wrapper .intro__title {
    font-size: 15px;
    margin-top: 265px;
  }
}
@media screen and (max-width: 1024px) {
  .intro .intro__wrapper .intro__title {
    font-size: 14px;
    margin-top: 212px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .intro .intro__wrapper .intro__title {
    font-size: 12px;
    margin-top: 159px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 640px) {
  .intro .intro__wrapper .intro__title {
    font-size: 10px;
    margin-top: 159px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 400px) {
  .intro .intro__wrapper .intro__title {
    font-size: 8px;
    margin-top: 106px;
    margin-bottom: 10px;
  }
}
.intro .intro__wrapper .intro__slogan {
  max-width: 829px;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
  line-height: 64px;
  color: #fff;
}
@media screen and (max-width: 1280px) {
  .intro .intro__wrapper .intro__slogan {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 1024px) {
  .intro .intro__wrapper .intro__slogan {
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .intro .intro__wrapper .intro__slogan {
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 640px) {
  .intro .intro__wrapper .intro__slogan {
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 400px) {
  .intro .intro__wrapper .intro__slogan {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 25px;
  }
}
.intro .intro__wrapper .intro__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 15px 36px 15px;
  text-align: center;
  max-width: 200px;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  margin-bottom: 318px;
}
@media screen and (max-width: 1280px) {
  .intro .intro__wrapper .intro__button {
    font-size: 15px;
    line-height: 17px;
    padding: 13px 25px 13px;
  }
}
@media screen and (max-width: 1024px) {
  .intro .intro__wrapper .intro__button {
    font-size: 14px;
    line-height: 16px;
    padding: 11px 20px 11px;
  }
}
@media screen and (max-width: 768px) {
  .intro .intro__wrapper .intro__button {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 20px 9px;
  }
}
@media screen and (max-width: 640px) {
  .intro .intro__wrapper .intro__button {
    font-size: 10px;
    line-height: 12px;
    padding: 7px 15px 7px;
  }
}
@media screen and (max-width: 400px) {
  .intro .intro__wrapper .intro__button {
    font-size: 8px;
    line-height: 10px;
    padding: 5px 10px 5px;
  }
}
@media screen and (max-width: 1280px) {
  .intro .intro__wrapper .intro__button {
    margin-bottom: 265px;
  }
}
@media screen and (max-width: 1024px) {
  .intro .intro__wrapper .intro__button {
    margin-bottom: 212px;
  }
}
@media screen and (max-width: 768px) {
  .intro .intro__wrapper .intro__button {
    margin-bottom: 159px;
  }
}
@media screen and (max-width: 640px) {
  .intro .intro__wrapper .intro__button {
    margin-bottom: 159px;
  }
}
@media screen and (max-width: 400px) {
  .intro .intro__wrapper .intro__button {
    margin-bottom: 106px;
  }
}

.services {
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 1110px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .services {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .services {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .services {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  .services {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  .services {
    width: 300px;
  }
}
.services h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 53px;
  color: #323232;
  max-width: 751px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1280px) {
  .services h2 {
    font-size: 30px;
    line-height: 47px;
  }
}
@media screen and (max-width: 1024px) {
  .services h2 {
    font-size: 27px;
    line-height: 42px;
  }
}
@media screen and (max-width: 768px) {
  .services h2 {
    font-size: 19.5px;
    line-height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .services h2 {
    font-size: 16.5px;
    line-height: 32px;
  }
}
@media screen and (max-width: 400px) {
  .services h2 {
    font-size: 13.5px;
    line-height: 27px;
  }
}
@media screen and (max-width: 1280px) {
  .services h2 {
    margin-top: 92px;
  }
}
@media screen and (max-width: 1024px) {
  .services h2 {
    margin-top: 73px;
    margin-bottom: 38px;
  }
}
@media screen and (max-width: 768px) {
  .services h2 {
    margin-top: 55px;
  }
}
@media screen and (max-width: 640px) {
  .services h2 {
    margin-top: 55px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 400px) {
  .services h2 {
    margin-top: 37px;
  }
}
.services .slogan__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #999999;
  text-align: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 1280px) {
  .services .slogan__description {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .services .slogan__description {
    font-size: 12px;
    line-height: 18.75px;
  }
}
@media screen and (max-width: 768px) {
  .services .slogan__description {
    font-size: 9px;
    line-height: 14px;
  }
}
@media screen and (max-width: 640px) {
  .services .slogan__description {
    font-size: 7px;
    line-height: 11px;
  }
}
@media screen and (max-width: 400px) {
  .services .slogan__description {
    font-size: 5.3333333333px;
    line-height: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .services .slogan__description {
    margin-bottom: 53px;
  }
}
@media screen and (max-width: 640px) {
  .services .slogan__description {
    margin-bottom: 35px;
  }
}
.services .services__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.services .services__list .services__item {
  width: calc(100% / 3 - 18px);
  position: relative;
  margin-bottom: 55px;
}
@media screen and (max-width: 1280px) {
  .services .services__list .services__item {
    width: calc(100% / 2 - 40px);
    margin-bottom: 46px;
  }
}
@media screen and (max-width: 1024px) {
  .services .services__list .services__item {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .services .services__list .services__item {
    width: calc(100% / 2 - 20px);
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 640px) {
  .services .services__list .services__item {
    width: calc(100% / 2 - 40px);
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 400px) {
  .services .services__list .services__item {
    width: calc(80% - 80px);
    margin-bottom: 21px;
  }
}
.services .services__list .services__item .services__subtitle {
  width: 223px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
  margin-left: 130px;
  margin-top: 46px;
  margin-bottom: 12px;
}
@media screen and (max-width: 1280px) {
  .services .services__list .services__item .services__subtitle {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .services .services__list .services__item .services__subtitle {
    font-size: 13px;
    line-height: 16px;
  }
}
@media screen and (max-width: 768px) {
  .services .services__list .services__item .services__subtitle {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and (max-width: 640px) {
  .services .services__list .services__item .services__subtitle {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (max-width: 400px) {
  .services .services__list .services__item .services__subtitle {
    font-size: 7px;
    line-height: 9px;
  }
}
@media screen and (max-width: 1280px) {
  .services .services__list .services__item .services__subtitle {
    margin-left: 112px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .services .services__list .services__item .services__subtitle {
    margin-left: 100px;
    margin-top: 35px;
  }
}
@media screen and (max-width: 768px) {
  .services .services__list .services__item .services__subtitle {
    margin-left: 81px;
    margin-top: 29px;
  }
}
@media screen and (max-width: 640px) {
  .services .services__list .services__item .services__subtitle {
    margin-left: 69px;
    margin-top: 24px;
  }
}
@media screen and (max-width: 400px) {
  .services .services__list .services__item .services__subtitle {
    margin-left: 63px;
    margin-top: 22px;
  }
}
.services .services__list .services__item .services__subtitle::before {
  content: "";
  position: absolute;
  background-image: url(./images/project.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 90px;
  border: 1px solid #4985ff;
  border-radius: 50%;
  left: 10px;
  top: 10px;
}
@media screen and (max-width: 1280px) {
  .services .services__list .services__item .services__subtitle::before {
    width: 75px;
    height: 75px;
    left: 8px;
    top: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .services .services__list .services__item .services__subtitle::before {
    width: 65px;
    height: 65px;
    left: 7px;
    top: 7px;
  }
}
@media screen and (max-width: 768px) {
  .services .services__list .services__item .services__subtitle::before {
    background-size: 30px;
    width: 50px;
    height: 50px;
    left: 6px;
    top: 6px;
  }
}
@media screen and (max-width: 640px) {
  .services .services__list .services__item .services__subtitle::before {
    background-size: 25px;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 5px;
  }
}
@media screen and (max-width: 400px) {
  .services .services__list .services__item .services__subtitle::before {
    background-size: 20px;
    width: 35px;
    height: 35px;
    left: 4px;
    top: 4px;
  }
}
.services .services__list .services__item .services__subtitle::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  left: 0;
  top: 0;
}
@media screen and (max-width: 1280px) {
  .services .services__list .services__item .services__subtitle::after {
    width: 92px;
    height: 92px;
  }
}
@media screen and (max-width: 1024px) {
  .services .services__list .services__item .services__subtitle::after {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .services .services__list .services__item .services__subtitle::after {
    width: 61px;
    height: 61px;
  }
}
@media screen and (max-width: 640px) {
  .services .services__list .services__item .services__subtitle::after {
    width: 49px;
    height: 49px;
  }
}
@media screen and (max-width: 400px) {
  .services .services__list .services__item .services__subtitle::after {
    width: 43px;
    height: 43px;
  }
}
.services .services__list .services__item .services__description {
  max-width: 223px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-left: 130px;
}
@media screen and (max-width: 1280px) {
  .services .services__list .services__item .services__description {
    font-size: 12px;
    margin-left: 112px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .services .services__list .services__item .services__description {
    font-size: 10px;
    margin-left: 100px;
    line-height: 16px;
  }
}
@media screen and (max-width: 768px) {
  .services .services__list .services__item .services__description {
    font-size: 8px;
    margin-left: 81px;
    line-height: 12px;
  }
}
@media screen and (max-width: 640px) {
  .services .services__list .services__item .services__description {
    font-size: 6px;
    margin-left: 69px;
    line-height: 10px;
  }
}
@media screen and (max-width: 400px) {
  .services .services__list .services__item .services__description {
    font-size: 5px;
    margin-left: 63px;
    line-height: 9px;
  }
}
.services .services__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 15px 36px 15px;
  text-align: center;
  max-width: 200px;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  margin-bottom: 105px;
}
@media screen and (max-width: 1280px) {
  .services .services__button {
    font-size: 15px;
    line-height: 17px;
    padding: 13px 25px 13px;
  }
}
@media screen and (max-width: 1024px) {
  .services .services__button {
    font-size: 14px;
    line-height: 16px;
    padding: 11px 20px 11px;
  }
}
@media screen and (max-width: 768px) {
  .services .services__button {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 20px 9px;
  }
}
@media screen and (max-width: 640px) {
  .services .services__button {
    font-size: 10px;
    line-height: 12px;
    padding: 7px 15px 7px;
  }
}
@media screen and (max-width: 400px) {
  .services .services__button {
    font-size: 8px;
    line-height: 10px;
    padding: 5px 10px 5px;
  }
}
@media screen and (max-width: 1280px) {
  .services .services__button {
    margin-bottom: 42px;
  }
}
@media screen and (max-width: 1024px) {
  .services .services__button {
    margin-bottom: 33px;
  }
}
@media screen and (max-width: 768px) {
  .services .services__button {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 400px) {
  .services .services__button {
    margin-bottom: 17px;
  }
}

.about-us {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.about-us::before {
  content: "";
  background: #f6f6f8;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.about-us .about-us__wrapper {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 100px;
  margin-bottom: 70px;
}
@media screen and (max-width: 1280px) {
  .about-us .about-us__wrapper {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .about-us__wrapper {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .about-us__wrapper {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  .about-us .about-us__wrapper {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .about-us__wrapper {
    width: 300px;
  }
}
@media screen and (max-width: 1280px) {
  .about-us .about-us__wrapper {
    flex-direction: column;
    text-align: center;
    margin-top: 83px;
    margin-bottom: 58px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .about-us__wrapper {
    margin-top: 67px;
    margin-bottom: 47px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .about-us__wrapper {
    margin-top: 50px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .about-us__wrapper {
    margin-top: 33px;
    margin-bottom: 23px;
  }
}
.about-us .about-us__wrapper .about-us__info {
  margin-right: 121px;
}
@media screen and (max-width: 1280px) {
  .about-us .about-us__wrapper .about-us__info {
    width: calc(100% - 40px);
    margin-right: 0;
  }
}
.about-us .about-us__wrapper .about-us__info .about-us__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 53px;
  color: #323232;
  margin-bottom: 40px;
}
@media screen and (max-width: 1280px) {
  .about-us .about-us__wrapper .about-us__info .about-us__slogan {
    font-size: 30px;
    line-height: 47px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .about-us__wrapper .about-us__info .about-us__slogan {
    font-size: 27px;
    line-height: 42px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .about-us__wrapper .about-us__info .about-us__slogan {
    font-size: 19.5px;
    line-height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .about-us .about-us__wrapper .about-us__info .about-us__slogan {
    font-size: 16.5px;
    line-height: 32px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .about-us__wrapper .about-us__info .about-us__slogan {
    font-size: 13.5px;
    line-height: 27px;
  }
}
@media screen and (max-width: 1280px) {
  .about-us .about-us__wrapper .about-us__info .about-us__slogan {
    margin-bottom: 33px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .about-us__wrapper .about-us__info .about-us__slogan {
    margin-bottom: 27px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .about-us__wrapper .about-us__info .about-us__slogan {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .about-us__wrapper .about-us__info .about-us__slogan {
    margin-bottom: 13px;
  }
}
.about-us .about-us__wrapper .about-us__info .about-us__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}
@media screen and (max-width: 1280px) {
  .about-us .about-us__wrapper .about-us__info .about-us__text {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .about-us__wrapper .about-us__info .about-us__text {
    font-size: 12px;
    line-height: 18.75px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .about-us__wrapper .about-us__info .about-us__text {
    font-size: 9px;
    line-height: 14px;
  }
}
@media screen and (max-width: 640px) {
  .about-us .about-us__wrapper .about-us__info .about-us__text {
    font-size: 7px;
    line-height: 11px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .about-us__wrapper .about-us__info .about-us__text {
    font-size: 5.3333333333px;
    line-height: 8px;
  }
}
@media screen and (max-width: 1280px) {
  .about-us .about-us__wrapper .about-us__info .about-us__text {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .about-us__wrapper .about-us__info .about-us__text {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .about-us__wrapper .about-us__info .about-us__text {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .about-us__wrapper .about-us__info .about-us__text {
    margin-bottom: 10px;
  }
}
.about-us .about-us__wrapper .about-us__info .about-us__more {
  margin-bottom: 90px;
}
@media screen and (max-width: 1280px) {
  .about-us .about-us__wrapper .about-us__info .about-us__more {
    margin-bottom: 75px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .about-us__wrapper .about-us__info .about-us__more {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .about-us__wrapper .about-us__info .about-us__more {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .about-us__wrapper .about-us__info .about-us__more {
    margin-bottom: 30px;
  }
}
.about-us .about-us__wrapper .about-us__info .about-us__more .about-us__more-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #4985ff;
  text-decoration: underline;
}
@media screen and (max-width: 1280px) {
  .about-us .about-us__wrapper .about-us__info .about-us__more .about-us__more-link {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .about-us__wrapper .about-us__info .about-us__more .about-us__more-link {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .about-us__wrapper .about-us__info .about-us__more .about-us__more-link {
    font-size: 9px;
    line-height: 11px;
  }
}
@media screen and (max-width: 640px) {
  .about-us .about-us__wrapper .about-us__info .about-us__more .about-us__more-link {
    font-size: 7px;
    line-height: 9px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .about-us__wrapper .about-us__info .about-us__more .about-us__more-link {
    font-size: 5.3333333333px;
    line-height: 8px;
  }
}
.about-us .about-us__wrapper .about-us__image {
  margin-bottom: 90px;
}
@media screen and (max-width: 1280px) {
  .about-us .about-us__wrapper .about-us__image {
    width: 400px;
    height: 320px;
    margin-bottom: 20px;
    order: -1;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .about-us__wrapper .about-us__image {
    width: 300px;
    height: 240px;
    margin-bottom: 20px;
    order: -1;
  }
}
@media screen and (max-width: 768px) {
  .about-us .about-us__wrapper .about-us__image {
    width: 200px;
    height: 160px;
    margin-bottom: 20px;
    order: -1;
  }
}
@media screen and (max-width: 640px) {
  .about-us .about-us__wrapper .about-us__image {
    width: 100px;
    height: 80px;
    margin-bottom: 20px;
    order: -1;
  }
}
.about-us .projects-wrapper {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 1280px) {
  .about-us .projects-wrapper {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .projects-wrapper {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .projects-wrapper {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  .about-us .projects-wrapper {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .projects-wrapper {
    width: 300px;
  }
}
.about-us .projects-wrapper .about-us__projects-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 920px;
}
@media screen and (max-width: 1280px) {
  .about-us .projects-wrapper .about-us__projects-list {
    width: 622px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .projects-wrapper .about-us__projects-list {
    width: 498px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .projects-wrapper .about-us__projects-list {
    width: 374px;
  }
}
@media screen and (max-width: 640px) {
  .about-us .projects-wrapper .about-us__projects-list {
    width: 317px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .projects-wrapper .about-us__projects-list {
    width: 250px;
  }
}
.about-us .projects-wrapper .about-us__projects-list .projects__item {
  position: relative;
  width: calc(100% / 5 + 20px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}
@media screen and (min-width: 1281px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item:nth-child(5n) {
    width: 104px;
  }
}
@media screen and (max-width: 1280px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item {
    width: calc(100% / 5);
    margin-bottom: 58px;
  }
  .about-us .projects-wrapper .about-us__projects-list .projects__item:nth-child(5n) {
    width: 94px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item {
    width: calc(100% / 3 + 20px);
    margin-bottom: 47px;
  }
  .about-us .projects-wrapper .about-us__projects-list .projects__item:nth-child(3n) {
    width: 84px;
  }
  .about-us .projects-wrapper .about-us__projects-list .projects__item:nth-child(5n) {
    width: calc(100% / 3 + 20px);
  }
}
@media screen and (max-width: 768px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item {
    width: calc(100% / 3 + 20px);
    margin-bottom: 35px;
  }
  .about-us .projects-wrapper .about-us__projects-list .projects__item:nth-child(3n) {
    width: 64px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item {
    width: calc(100% / 3 + 15px);
    margin-bottom: 35px;
  }
  .about-us .projects-wrapper .about-us__projects-list .projects__item:nth-child(3n) {
    width: 44px;
  }
}
.about-us .projects-wrapper .about-us__projects-list .projects__item .item__info {
  font-size: 36px;
  padding-left: 50px;
}
.about-us .projects-wrapper .about-us__projects-list .projects__item .item__info::before {
  content: "";
  position: absolute;
  background-image: url(./images/projects-item__image.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  left: 0;
  top: 9px;
}
@media screen and (max-width: 1280px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__info::before {
    background-size: 28px;
    width: 28px;
    height: 28px;
    top: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__info::before {
    width: 22px;
    height: 22px;
    background-size: 22px;
    top: 6px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__info::before {
    width: 16px;
    height: 16px;
    background-size: 16px;
    top: 4px;
  }
}
@media screen and (max-width: 640px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__info::before {
    width: 13px;
    height: 13px;
    background-size: 13px;
    top: 3px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__info::before {
    width: 10px;
    height: 10px;
    background-size: 10px;
    top: 1;
  }
}
@media screen and (max-width: 1280px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__info {
    font-size: 34px;
    padding-left: 45px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__info {
    font-size: 27px;
    padding-left: 35px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__info {
    font-size: 20px;
    padding-left: 26px;
  }
}
@media screen and (max-width: 640px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__info {
    font-size: 16px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__info {
    font-size: 12px;
    padding-left: 15px;
  }
}
.about-us .projects-wrapper .about-us__projects-list .projects__item .item__slogan {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #999999;
}
@media screen and (max-width: 1280px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__slogan {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__slogan {
    font-size: 12px;
    line-height: 18.75px;
  }
}
@media screen and (max-width: 768px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__slogan {
    font-size: 9px;
    line-height: 14px;
  }
}
@media screen and (max-width: 640px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__slogan {
    font-size: 7px;
    line-height: 11px;
  }
}
@media screen and (max-width: 400px) {
  .about-us .projects-wrapper .about-us__projects-list .projects__item .item__slogan {
    font-size: 5.3333333333px;
    line-height: 8px;
  }
}

.all-services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.all-services::before {
  content: "";
  height: 490px;
  width: 100%;
  background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
  position: absolute;
  top: 0;
  z-index: -1;
}
.all-services .all-services__main {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  margin-top: 84px;
  margin-bottom: 70px;
}
@media screen and (max-width: 1280px) {
  .all-services .all-services__main {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .all-services .all-services__main {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .all-services .all-services__main {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  .all-services .all-services__main {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  .all-services .all-services__main {
    width: 300px;
  }
}
.all-services .all-services__main .all-services__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 53px;
  color: #323232;
  width: 540px;
  color: #fff;
}
@media screen and (max-width: 1280px) {
  .all-services .all-services__main .all-services__slogan {
    font-size: 30px;
    line-height: 47px;
  }
}
@media screen and (max-width: 1024px) {
  .all-services .all-services__main .all-services__slogan {
    font-size: 27px;
    line-height: 42px;
  }
}
@media screen and (max-width: 768px) {
  .all-services .all-services__main .all-services__slogan {
    font-size: 19.5px;
    line-height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .all-services .all-services__main .all-services__slogan {
    font-size: 16.5px;
    line-height: 32px;
  }
}
@media screen and (max-width: 400px) {
  .all-services .all-services__main .all-services__slogan {
    font-size: 13.5px;
    line-height: 27px;
  }
}
.all-services .all-services__main .all-services__more {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 15px 36px 15px;
  text-align: center;
  max-width: 200px;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
}
@media screen and (max-width: 1280px) {
  .all-services .all-services__main .all-services__more {
    font-size: 15px;
    line-height: 17px;
    padding: 13px 25px 13px;
  }
}
@media screen and (max-width: 1024px) {
  .all-services .all-services__main .all-services__more {
    font-size: 14px;
    line-height: 16px;
    padding: 11px 20px 11px;
  }
}
@media screen and (max-width: 768px) {
  .all-services .all-services__main .all-services__more {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 20px 9px;
  }
}
@media screen and (max-width: 640px) {
  .all-services .all-services__main .all-services__more {
    font-size: 10px;
    line-height: 12px;
    padding: 7px 15px 7px;
  }
}
@media screen and (max-width: 400px) {
  .all-services .all-services__main .all-services__more {
    font-size: 8px;
    line-height: 10px;
    padding: 5px 10px 5px;
  }
}
.all-services .all-srvices__list {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 85px;
  flex-wrap: wrap;
  border-bottom: 1px solid #e0e0e0;
}
@media screen and (max-width: 1280px) {
  .all-services .all-srvices__list {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .all-services .all-srvices__list {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .all-services .all-srvices__list {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  .all-services .all-srvices__list {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  .all-services .all-srvices__list {
    width: 300px;
  }
}
.all-services .all-srvices__list .all-services__item {
  width: calc(100% / 3 - 20px);
  margin-bottom: 85px;
}
.all-services .all-srvices__list .all-services__item .all-services__image {
  margin-bottom: 30px;
}
.all-services .all-srvices__list .all-services__item .all-services__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
  margin-bottom: 30px;
}
@media screen and (max-width: 1280px) {
  .all-services .all-srvices__list .all-services__item .all-services__subtitle {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .all-services .all-srvices__list .all-services__item .all-services__subtitle {
    font-size: 13px;
    line-height: 16px;
  }
}
@media screen and (max-width: 768px) {
  .all-services .all-srvices__list .all-services__item .all-services__subtitle {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and (max-width: 640px) {
  .all-services .all-srvices__list .all-services__item .all-services__subtitle {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (max-width: 400px) {
  .all-services .all-srvices__list .all-services__item .all-services__subtitle {
    font-size: 7px;
    line-height: 9px;
  }
}
.all-services .all-srvices__list .all-services__item .all-services__subtitle span {
  color: #4985ff;
}
.all-services .all-srvices__list .all-services__item .all-services__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}
@media screen and (max-width: 1280px) {
  .all-services .all-srvices__list .all-services__item .all-services__text {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .all-services .all-srvices__list .all-services__item .all-services__text {
    font-size: 12px;
    line-height: 18.75px;
  }
}
@media screen and (max-width: 768px) {
  .all-services .all-srvices__list .all-services__item .all-services__text {
    font-size: 9px;
    line-height: 14px;
  }
}
@media screen and (max-width: 640px) {
  .all-services .all-srvices__list .all-services__item .all-services__text {
    font-size: 7px;
    line-height: 11px;
  }
}
@media screen and (max-width: 400px) {
  .all-services .all-srvices__list .all-services__item .all-services__text {
    font-size: 5.3333333333px;
    line-height: 8px;
  }
}
.all-services .all-srvices__list .all-services__item .item__more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #4985ff;
  text-decoration-line: underline;
}

.all-projects {
  min-height: 776px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.all-projects::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f6f6f8;
  top: 0;
  z-index: -1;
}
.all-projects .all-projects__wrapper {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0px;
  margin-top: 100px;
}
@media screen and (max-width: 1280px) {
  .all-projects .all-projects__wrapper {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .all-projects .all-projects__wrapper {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .all-projects .all-projects__wrapper {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  .all-projects .all-projects__wrapper {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  .all-projects .all-projects__wrapper {
    width: 300px;
  }
}
.all-projects .all-projects__wrapper .all-projects__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 53px;
  color: #323232;
  max-width: 350px;
  margin-bottom: 50px;
  color: #000000;
}
@media screen and (max-width: 1280px) {
  .all-projects .all-projects__wrapper .all-projects__slogan {
    font-size: 30px;
    line-height: 47px;
  }
}
@media screen and (max-width: 1024px) {
  .all-projects .all-projects__wrapper .all-projects__slogan {
    font-size: 27px;
    line-height: 42px;
  }
}
@media screen and (max-width: 768px) {
  .all-projects .all-projects__wrapper .all-projects__slogan {
    font-size: 19.5px;
    line-height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .all-projects .all-projects__wrapper .all-projects__slogan {
    font-size: 16.5px;
    line-height: 32px;
  }
}
@media screen and (max-width: 400px) {
  .all-projects .all-projects__wrapper .all-projects__slogan {
    font-size: 13.5px;
    line-height: 27px;
  }
}
.all-projects .all-projects__wrapper .all-projects__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #999999;
  max-width: 730px;
  margin-bottom: 70px;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .all-projects .all-projects__wrapper .all-projects__text {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .all-projects .all-projects__wrapper .all-projects__text {
    font-size: 12px;
    line-height: 18.75px;
  }
}
@media screen and (max-width: 768px) {
  .all-projects .all-projects__wrapper .all-projects__text {
    font-size: 9px;
    line-height: 14px;
  }
}
@media screen and (max-width: 640px) {
  .all-projects .all-projects__wrapper .all-projects__text {
    font-size: 7px;
    line-height: 11px;
  }
}
@media screen and (max-width: 400px) {
  .all-projects .all-projects__wrapper .all-projects__text {
    font-size: 5.3333333333px;
    line-height: 8px;
  }
}
.all-projects .all-projects__wrapper .all-projects__list {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1280px) {
  .all-projects .all-projects__wrapper .all-projects__list {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .all-projects .all-projects__wrapper .all-projects__list {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .all-projects .all-projects__wrapper .all-projects__list {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  .all-projects .all-projects__wrapper .all-projects__list {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  .all-projects .all-projects__wrapper .all-projects__list {
    width: 300px;
  }
}
.all-projects .all-projects__wrapper .all-projects__list .list__item {
  width: calc(100% / 4 - 22.5px);
  margin-bottom: 50px;
}
.all-projects .all-projects__wrapper .all-projects__more {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 15px 36px 15px;
  text-align: center;
  max-width: 200px;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  margin-bottom: 130px;
}
@media screen and (max-width: 1280px) {
  .all-projects .all-projects__wrapper .all-projects__more {
    font-size: 15px;
    line-height: 17px;
    padding: 13px 25px 13px;
  }
}
@media screen and (max-width: 1024px) {
  .all-projects .all-projects__wrapper .all-projects__more {
    font-size: 14px;
    line-height: 16px;
    padding: 11px 20px 11px;
  }
}
@media screen and (max-width: 768px) {
  .all-projects .all-projects__wrapper .all-projects__more {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 20px 9px;
  }
}
@media screen and (max-width: 640px) {
  .all-projects .all-projects__wrapper .all-projects__more {
    font-size: 10px;
    line-height: 12px;
    padding: 7px 15px 7px;
  }
}
@media screen and (max-width: 400px) {
  .all-projects .all-projects__wrapper .all-projects__more {
    font-size: 8px;
    line-height: 10px;
    padding: 5px 10px 5px;
  }
}

.video {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 1110px;
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  height: 570px;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(./images/video__background.png);
  background-repeat: round;
  top: 0;
  z-index: -1;
}
.video .video__wrapper {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 70px;
  margin-bottom: 85px;
}
@media screen and (max-width: 1280px) {
  .video .video__wrapper {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .video .video__wrapper {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .video .video__wrapper {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  .video .video__wrapper {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  .video .video__wrapper {
    width: 300px;
  }
}
.video .video__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 53px;
  color: #323232;
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (max-width: 1280px) {
  .video .video__slogan {
    font-size: 30px;
    line-height: 47px;
  }
}
@media screen and (max-width: 1024px) {
  .video .video__slogan {
    font-size: 27px;
    line-height: 42px;
  }
}
@media screen and (max-width: 768px) {
  .video .video__slogan {
    font-size: 19.5px;
    line-height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .video .video__slogan {
    font-size: 16.5px;
    line-height: 32px;
  }
}
@media screen and (max-width: 400px) {
  .video .video__slogan {
    font-size: 13.5px;
    line-height: 27px;
  }
}
.video .video__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #999999;
  color: #fff;
  margin-bottom: 50px;
}
@media screen and (max-width: 1280px) {
  .video .video__text {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .video .video__text {
    font-size: 12px;
    line-height: 18.75px;
  }
}
@media screen and (max-width: 768px) {
  .video .video__text {
    font-size: 9px;
    line-height: 14px;
  }
}
@media screen and (max-width: 640px) {
  .video .video__text {
    font-size: 7px;
    line-height: 11px;
  }
}
@media screen and (max-width: 400px) {
  .video .video__text {
    font-size: 5.3333333333px;
    line-height: 8px;
  }
}
.video .video__content {
  position: relative;
  width: 970px;
  height: 430px;
  background: url(./images/video__image.png);
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 85px;
}
.video .video__content .video__button {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #999999;
  color: #fff;
  font-weight: 500;
  width: 300px;
  height: 100px;
  top: calc(50% - 40px);
  left: calc(50% - 150px);
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 200px;
  padding: 41px 29px 40px 121px;
}
@media screen and (max-width: 1280px) {
  .video .video__content .video__button {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .video .video__content .video__button {
    font-size: 12px;
    line-height: 18.75px;
  }
}
@media screen and (max-width: 768px) {
  .video .video__content .video__button {
    font-size: 9px;
    line-height: 14px;
  }
}
@media screen and (max-width: 640px) {
  .video .video__content .video__button {
    font-size: 7px;
    line-height: 11px;
  }
}
@media screen and (max-width: 400px) {
  .video .video__content .video__button {
    font-size: 5.3333333333px;
    line-height: 8px;
  }
}
.video .video__content .video__button::before {
  content: "";
  background-image: url(./images/video__play-button.png);
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 40px;
}
.video .subscribe {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 177px;
}
@media screen and (max-width: 1280px) {
  .video .subscribe {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  .video .subscribe {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .video .subscribe {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  .video .subscribe {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  .video .subscribe {
    width: 300px;
  }
}
.video .subscribe .subscribe__slogan {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
  margin-bottom: 20px;
}
@media screen and (max-width: 1280px) {
  .video .subscribe .subscribe__slogan {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .video .subscribe .subscribe__slogan {
    font-size: 13px;
    line-height: 16px;
  }
}
@media screen and (max-width: 768px) {
  .video .subscribe .subscribe__slogan {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and (max-width: 640px) {
  .video .subscribe .subscribe__slogan {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (max-width: 400px) {
  .video .subscribe .subscribe__slogan {
    font-size: 7px;
    line-height: 9px;
  }
}
.video .subscribe .subscribe__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}
@media screen and (max-width: 1280px) {
  .video .subscribe .subscribe__text {
    font-size: 15px;
    line-height: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .video .subscribe .subscribe__text {
    font-size: 12px;
    line-height: 18.75px;
  }
}
@media screen and (max-width: 768px) {
  .video .subscribe .subscribe__text {
    font-size: 9px;
    line-height: 14px;
  }
}
@media screen and (max-width: 640px) {
  .video .subscribe .subscribe__text {
    font-size: 7px;
    line-height: 11px;
  }
}
@media screen and (max-width: 400px) {
  .video .subscribe .subscribe__text {
    font-size: 5.3333333333px;
    line-height: 8px;
  }
}
.video .subscribe .subscribe__form {
  margin-bottom: 35px;
}
.video .subscribe .subscribe__statement {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
  margin-bottom: 85px;
}
.video .subscribe .subscribe__form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.video .subscribe .subscribe__form input[type=email] {
  width: 299px;
  height: 45px;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0px 0px 30px;
  padding: 15px 175px 13px 33px;
}
.video .subscribe .subscribe__form label {
  order: 1;
}
.video .subscribe .subscribe__form label button {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 15px 36px 15px;
  text-align: center;
  max-width: 200px;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  width: 190px;
  padding-left: 26px;
  border-radius: 0px 30px 30px 0px;
}
@media screen and (max-width: 1280px) {
  .video .subscribe .subscribe__form label button {
    font-size: 15px;
    line-height: 17px;
    padding: 13px 25px 13px;
  }
}
@media screen and (max-width: 1024px) {
  .video .subscribe .subscribe__form label button {
    font-size: 14px;
    line-height: 16px;
    padding: 11px 20px 11px;
  }
}
@media screen and (max-width: 768px) {
  .video .subscribe .subscribe__form label button {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 20px 9px;
  }
}
@media screen and (max-width: 640px) {
  .video .subscribe .subscribe__form label button {
    font-size: 10px;
    line-height: 12px;
    padding: 7px 15px 7px;
  }
}
@media screen and (max-width: 400px) {
  .video .subscribe .subscribe__form label button {
    font-size: 8px;
    line-height: 10px;
    padding: 5px 10px 5px;
  }
}

footer {
  min-height: 413px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f6f6f8;
  top: 0;
  z-index: -1;
}
footer .footer__wrapper {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  min-height: 305px;
  margin-top: 70px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}
@media screen and (max-width: 1280px) {
  footer .footer__wrapper {
    width: 750px;
  }
}
@media screen and (max-width: 1024px) {
  footer .footer__wrapper {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  footer .footer__wrapper {
    width: 450px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer__wrapper {
    width: 380px;
  }
}
@media screen and (max-width: 400px) {
  footer .footer__wrapper {
    width: 300px;
  }
}
footer .footer__wrapper > div {
  width: 242px;
  height: 235px;
  margin-right: 43px;
}
footer .footer__wrapper > div:last-of-type {
  margin-right: 0;
}
footer .footer__wrapper > div > h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
  margin-bottom: 35px;
}
@media screen and (max-width: 1280px) {
  footer .footer__wrapper > div > h3 {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1024px) {
  footer .footer__wrapper > div > h3 {
    font-size: 13px;
    line-height: 16px;
  }
}
@media screen and (max-width: 768px) {
  footer .footer__wrapper > div > h3 {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer__wrapper > div > h3 {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (max-width: 400px) {
  footer .footer__wrapper > div > h3 {
    font-size: 7px;
    line-height: 9px;
  }
}
footer .footer__wrapper > div ul > li {
  position: relative;
  margin-bottom: 30px;
  padding-left: 17px;
}
footer .footer__wrapper > div ul > li:last-child {
  margin-bottom: 70px;
}
footer .footer__wrapper > div ul > li::before {
  content: "";
  width: 5px;
  height: 9px;
  position: absolute;
  background-image: url(./images/arrow.svg);
  left: 0;
  top: calc(50% - 4.5px);
}
footer .footer__wrapper > div .contacts__list > li {
  padding-left: 30px;
  position: relative;
}
footer .footer__wrapper > div .contacts__list > li:first-child::before {
  content: "";
  width: 15px;
  height: 11.42px;
  position: absolute;
  background-image: url(./images/mail.svg);
  background-position: center;
  top: calc(50% - 6px);
  left: 0;
}
footer .footer__wrapper > div .contacts__list > li:nth-child(2)::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url(./images/phone.svg);
  background-position: center;
  top: calc(50% - 8px);
  left: 0;
}
footer .footer__wrapper > div .contacts__list > li:last-child::before {
  content: "";
  width: 11px;
  height: 15px;
  position: absolute;
  background-image: url(./images/placeholder.svg);
  background-position: center;
  top: calc(50% - 8px);
  left: 0;
}
footer .footer__wrapper > div li > a {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #999999;
}
footer .footer__copyright {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color: #999999;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
